{% extends "base.html" %}

{% block content %}
{% for post in object_list %}
<h3><a href="/blog/{{post.id}}">{{post.title}}</a></h3>
<div>
    <p class="muted">{{post.created|date:"l, d N Y"}} by <i><a href="/about/"><u>Kirill Shershen</u></i></a></p>
</div>
<p></p>
<div class="post_body">
    {{post.body|safe|linebreaks|truncatewords_html:50}}
</div>
<div>
    <a href="/blog/{{post.id}}"><u><b>Читать далее...</b></u></a>
    <p></p>
</div>
<div>
    <a href="/blog/{{post.id}}#disqus_thread" ></a>
</div>
<div class="tags">
    <p><i class="icon-tag"></i>Теги:
    {% for tag in post.tags.all %}
    <a href="/blog/tag/{{tag}}">{{tag}}</a>
    {%if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
</div>
<hr>
{% endfor %}
    
{% if paginator.num_pages > 1 %}
<div class="pagination pagination-centered">
    <ul>
        {% if page_obj.has_next %}
            <li><a href="/blog?page={{ page_obj.next_page_number }}">&lt;&lt;</a></li>
        {% endif %}
        {% for p in page_obj.paginator.page_range reversed %}
            <li class="{% if page_obj.number = p %} active{% endif %}"><a href="?page={{p}}">{{p}}</a></li>
        {% endfor %}
        {% if page_obj.has_previous %}
            <li><a href="/blog?page={{ page_obj.previous_page_number }}">&gt;&gt;</a></li>
        {% endif %}        
    </ul>
</div>
{% endif %}
{% endblock %}