	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="http://kxekxe.herokuapp.com/blog/">Блог</a>
                <div class="nav-collapse collapse">
                    <ul id="menu-menyu-v-shapke" class="nav">
                        <li><form class="navbar-search pull-left">
                              <input type="text" class="search-query" placeholder="Найти...">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>