{% extends "base.html" %}
{% block styles %}
<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
{% endblock %}
{% block page %}

<script type='text/javascript'>
function change_location(href) {
   location.href=href;
}
</script>

<div class="container-fluid">
    <div class="row">
        <div class="span2">
        {% include 'tags.html' %}
        {% include 'archive.html' %}
        </div>
        {% for rec1, rec2, rec3, rec4, rec5 in kort %}
        <div class="span2">
            <div class="box-2 img-set">
                <a href="{{ rec1.url }}"><img src="{{ rec1.image }}"></a>
                <div class="title" onclick="javascript: change_location('{{ rec1.url }}')">{{ rec1.name }}</div>
                <div class="desc">{{ rec1.description|safe|truncatewords_html:15 }}</div>
            </div>
        </div>
        {% if rec2 %}
        <div class="span2"> 
            <div class="box-2 img-set">
                <a href="{{ rec2.url }}"><img  src="{{ rec2.image }}"></a>
                <div class="title" onclick="javascript: change_location('{{ rec2.url }}')" style="cursor:pointer">{{ rec2.name }}</div>
                <div class="desc">{{ rec2.description|safe|truncatewords_html:15 }}</div>
            </div>
        </div>
        {% endif %}
        {% if rec3 %}
        <div class="span2"> 
            <div class="box-2 img-set">
                <a href="{{ rec3.url }}"><img  src="{{ rec3.image }}"></a>
                <div class="title" onclick="javascript: change_location('{{ rec3.url }}')" style="cursor:pointer">{{ rec3.name }}</div>
                <div class="desc">{{ rec3.description|safe|truncatewords_html:15 }}</div>
            </div>
        </div>
        {% endif %}
        {% if rec4 %}
        <div class="span2"> 
            <div class="box-2 img-set">
                <a href="{{ rec4.url }}"><img  src="{{ rec4.image }}"></a>
                <div class="title" onclick="javascript: change_location('{{ rec4.url }}')" style="cursor:pointer">{{ rec4.name }}</div>
                <div class="desc">{{ rec4.description|safe|truncatewords_html:15 }}</div>
            </div>
        </div>
        {% endif %}
        {% if rec5 %}
        <div class="span2"> 
            <div class="box-2 img-set">
                <a href="{{ rec5.url }}"><img  src="{{ rec5.image }}"></a>
                <div class="title" onclick="javascript: change_location('{{ rec5.url }}')" style="cursor:pointer">{{ rec5.name }}</div>
                <div class="desc">{{ rec5.description|safe|truncatewords_html:15 }}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}