{% extends "base.html" %}
{% block keywords %}
,Курс валют белгород, кусры валют белгорода, валюта белгород, доллар, бакс, курс доллара, курс доллара в белгороде, курс доллара белгород
{% endblock %}
{% block title %}
Курс доллара в Белгороде
{% endblock %}
{% block page %}
<div class="container-fluid">
    <div class="row-fluid" style="min-height:420px;">
        <div class="span2">
        </div>
        <div class="span2">
            <h4 align="left">Курс центробанка</h4>
            <p><b>1 USD = {{ current_currency }} &#8381;</b></p>
        </div>
        <div class="span6">
            <h4 align="center">Курс доллара на {{last_time.checktime}}</h4>
            <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Банк</th>
                    <th>Покупка</th>
                </tr>
            </thead>
            <tbody>
            {% for rate in rates %}
                <tr>
                    <td>{{ rate.bank.name }}</td>
                    <td>{{ rate.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="span2">
        </div>
    </div>
</div>
{% endblock %}