{% extends "base.html" %}
{% block page %}
<div class="container-fluid">
    <div class="row-fluid" style="min-height:420px;">
        <div class="span2">
        </div>
        <div class="span2">
            <!-- <h4 align="center">Курс центробанка</h4> -->
        </div>
        <div class="span6">
            <h4 align="center">Курс доллара на {{last_time.checktime}}</h4>
            <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Банк</th>
                    <th>Покупка</th>
                </tr>
            </thead>
            <tbody>
            {% for rate in rates %}
                <tr>
                    <td>{{ rate.bank.name }}</td>
                    <td>{{ rate.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="span2">
        </div>
    </div>
</div>
{% endblock %}